<div class="c-chat">
  <div class="c-chat__body u-text--center">
    <h6 class="c-chat__title">Welcome!</h6>
    <div class="c-chat__content">
      
    </div>
  </div>
  <div class="c-chat__footer">
    <form action="" class="c-chat__form">
      <input class="mdl-textfield__input" type="text" placeholder="Enter your message here">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored u-margin-left-15">
        Enviar
      </button>
    </form>
  </div>
</div>
