<header class="bg-black-80">
  <div class="mw9 center ph3-ns">
    <nav class="dt w-100 border-box pa3 ph2-ns">
      <a ui-sref="home" class="dtc v-mid link dim w-25 white-80 hover-white no-underline">
        Chat with Firebase
      </a>
      <div class="dtc v-mid w-75 tr">
        <a ui-sref="login" ng-if="!ctrl.isLoggedIn()" class="link dim f6 f5-ns dib mr3 mr4-ns white-80 hover-white">Login</a>
        <a href="#" ng-click="ctrl.logout()" ng-if="ctrl.isLoggedIn()" class="link dim f6 f5-ns dib white-80 hover-white">Logout</a>
      </div>
    </nav>
  </div>
</header>
