<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card mdl-card mdl-shadow--2dp" style="width:100%">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text" ng-bind="$ctrl.user.displayName"></h2>
      </div>
      <div class="mdl-card__media">
        <img ng-src="{{$ctrl.user.photoURL}}">
      </div>
      <div class="mdl-card__supporting-text" ng-bind="$ctrl.user.email">
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Logout
        </a>
      </div>
    </div>

  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <chat></chat>
  </div>
</div>
