// settings
$white: #fff !default;
$silver: #ddd !default;

// utilities
.u-text--center {
  text-align: center;
}

.u-text--right {
  text-align: right;
}

.u-margin-left-15 {
  margin-left: 15px;
}
