.c-chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.c-chat__body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.c-chat__content {
  overflow-x: auto;
}

.c-chat__footer {
  min-height: 5rem;
}
