<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <section class="mdl-demo mdl-grid mdl-grid--no-spacing section--center mdl-shadow--2dp">
      <div class="mdl-demo__img mdl-cell mdl-cell--4-col">
        <img src="img/firebase.png" />
      </div>
      <div class="mdl-card mdl-cell mdl-cell--8-col">
        <div class="mdl-card__supporting-text">
          <h4>Login</h4>
            Chat demo with AngularJS and Firebase.<br /> Documentation:
            <a href="https://github.com/firebase/angularfire#documentation">AngularFire</a>
        </div>
        <div class="mdl-card__actions">
          <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            ng-click="$ctrl.loginFB($event)">
            Facebook
          </button>
          <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            ng-click="$ctrl.loginTW($event)">
            Twitter
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
